<div class="m-0 m-auto bg-dark shadow-lg text-light w-100 container-fluid" style="bottom: 0;position:absolute">
    <div class="row text-center p-2 align-items-end">
        <div class="col">
            <h5 class="text-muted text-sm-center">Crédits</h5>
            <ul class="list-unstyled list-group">
                <li class="list-group-item bg-dark text-light shadow-lg">Renee Etou</li>
                <li class="list-group-item bg-dark text-light shadow-lg">Ilyes Habki</li>
                <li class="list-group-item bg-dark text-light shadow-lg">Maher Bayech</li>
            </ul>
        </div>
        <div class="col"></div>
        <div class="col">
            <h5 class="text-muted">Liens extérnes</h5>
            <ul class="list-unstyled list-group">
                <li class="list-group-item bg-dark text-light shadow-lg"><a href="https://api.nasa.gov/" class="link-primary text-decoration-none">NASA API</a></li>
                <li class="list-group-item bg-dark text-light shadow-lg"><a href="https://api.nasa.gov/" class="link-primary text-decoration-none">NASA API</a></li>
                <li class="list-group-item bg-dark text-light shadow-lg"><a href="https://api.nasa.gov/" class="link-primary text-decoration-none">NASA API</a></li>
            </ul>
        </div>
    </div>
</div>
