<app-header></app-header>
<h1 class="text-center">Contact</h1>
<div class="container-fluid h-100 m-0 p-0" >
    <div class="row m-0 p-0">
        <div class="col col-xs-12 d-flex justify-content-center text-center">
            <!-- Default form contact -->
            <form #formContact="ngForm" class="text-center border border-light p-5" (ngSubmit)="onSubmit(formContact.value)">
                <!-- Name -->
                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name" name="name" required ngModel>
                <!-- Email -->
                <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail" name="email" required ngModel>
                <!-- Subject -->
                <select name="subject" class="form-control browser-default custom-select mb-4" ngModel>
                    <option value="" disabled>Subject</option>
                    <option value="1" selected>Feedback</option>
                    <option value="2">Report a bug</option>
                    <option value="3">Feature request</option>
                    <option value="4">Feature request</option>
                </select>
                <div class="form-group">
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2"
                    rows="3" placeholder="Message" name="msg" ngModel></textarea>
                </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <input type="checkbox" [checked]="true" class="p-2 form-check-input" name="copy" ngModel/>
                    </div>
                    <div class="input-group-text pl-2">M'envoyer une copie</div>
                </div>

                <!-- Send button -->
                <button class="btn btn-outline-info my-4 waves-effect" type="submit" [disabled]="disabledSubmitButton">Send</button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>
