<nav class="navbar navbar-dark bg-dark sticky-top m-0 pb-2 pt-2 shadow-lg mb-2">
    <div class="container-fluid">
        <img src="../../../assets/images/logo.jpg" alt="" width="auto" height="60" class="d-inline-block align-text-top shadow-lg p-2" style="border-radius: 10em;border-style: dashed;border-color: aqua;">
        <a class="navbar-brand" routerLink="/" >
            <mat-icon aria-hidden="false" aria-label="Example home icon">Home</mat-icon>
        </a>
        <a class="navbar-brand" routerLink="/photos" >
            Photos par jours
        </a>
        <a class="navbar-brand" routerLink="/gallerie" >
            Gallerie
        </a>
        <a class="navbar-brand" routerLink="/contact">
            Contact
        </a>
    </div>
  </nav>
